@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Source+Sans+Pro:300,400,600,700');
@import url('./fonts/ChronicleDisp-Black.otf');

@font-face {
    font-family: 'Chronicle Display Black';
    src: url(./	fonts/ChronicleDisp-Black.otf);
    font-weight: 700;
    font-style: normal
}

*, *:after, *:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: 'Cormorant Garamond', 'Montserrat', Garamond;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

img {
	/* max-width: 100%; */
}

#particles-js {
	height: 100vh;
	background: #6282c0;
}

#app {
	color: #FFF;
}

#home {
	overflow: hidden;
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 60px;
	color:  #000000;
}


/* HELPERS */
.onHover:hover {
	transform: scale(1.1);
}

/* NAV */
#nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	min-height: 580px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #181818;
	text-align: center;
	z-index: 10;
}

.logo {
	background: #c0a062;
	color: #000000;
	display: block;
	width: 100%;
	padding: 10px 0;
	font-size: 28px;
}

.nav {
    width: 100%;
    font-size: 1.4rem;
    height: 140px;
}

.nav a {
	display: block;
	height: 45px;
	font-size: 24px;
	line-height: 45px;
	position: relative;
}

.nav a:hover {
	/*opacity: 0;*/
}
.nav a:hover:after{
	opacity: 1;
	color: #c0a062;
}
nav.nav a:hover i {
	opacity: 0;
}
.nav a i {
	-webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.nav a:after {
    content: '';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.nav a:first-child:after {
	content: 'HOME';
}
.nav a:first-child+a:after {
	content: 'ABOUT';
}
.nav a:first-child+a+a:after {
	content: 'WORK';
}
.nav a.active {
	color: #c0a062;
}

.nav-name {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', 'Open Sans';
	text-transform: uppercase;
	letter-spacing: 2px;
	transform: rotate(-90deg);
	width: 100px;
}

.social	{
	width: 100%;
	margin-bottom: 2rem;
}

.social li a {
	display: block;
	font-size: 18px;
	padding: 7px 0;
}
/* HOME */
#home {
	overflow: auto;
}
.home-content {
	color: #FFFFFF;
	width: 100%;
	padding-left: 60px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.home-h1 {
	font-size: 14rem;
	font-family: 'Cormorant Garamond', 'Montserrat';
	margin: 0;
}

.home-subtext {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.name-period {
	color: #c0a062;
}

.home-nav-wrap {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 4rem;
	padding: 3rem 5rem;
}

.nav-link {
	color: #FFFFFF;
	transition: transform 200ms ease-in;
}

/*.nav-link:hover {
	transform: scale(1.1);
}*/

.nav-link-border-bottom {
	height: 0;
	width: 40px;
	border-bottom: 2px solid #c0a062;
	position: relative;
	bottom: -45px;
    left: -82px;
}

.right-bounce-arrow {
	position: absolute;
    padding-left: 10px;
    transform: translateY(2px);
    animation: pointer 1s infinite;
}


@keyframes pointer {
	0%, 100%{
		padding-left: 10px;
	}
	50% {
		padding-left: 30px;
	}
}

/* WORK */

.work-container {
	overflow:  auto;
	filter: blur(8px);
}

.project-header {
    margin: 0 0 100px;
    height: 30rem;
    background-color: #1d1d1d;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    display: flex;
}
.project-wrapper {
	padding:  0 60px;
}
.project-details {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.project-details .h1 {
	font-size: 4em;
	margin-top: 0;
}
.project-details p {
	font-size:  2em;
	font-family: 'Source Sans Pro', sans-serif;
}
.tech-list {
	columns: 2;
	margin: 30px 0 60px;
	border: 1px solid #c0a062;
    padding: 10px 20px;
    text-align: center;
    max-width: 450px;
}
.tech-item {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}
.view-project-link a {
	padding: 10px 20px;
	background: #6282c0;
	font-size: 20px;
	color: #FFFFFF;
}
#ch-svg {
	width: 50%;
    margin: 0 auto;
    display: block;
}
.headline-company {
	font-size: 48px;
	color: #c0a062;
}
.row {
	display: flex;
	max-height: 545px;
	position: relative;
}
.project-screens {
    position: relative;
    height: auto;
    float: right;
    width: 50%;
    max-width: 550px;
    text-align: center;
    margin: 0;
    padding-bottom: 40%;
    perspective: 2000px;
}

.project-screens .screen {
	max-height: 100%;
	position: absolute;
	display: block;
	transform-origin: left bottom;
	display: block;
	transform: rotateY(-30deg) rotateX(5deg);
	box-shadow: 1px 0px 0 #fff,
				0 0 30px rgba(0,95,99,0.2);
}
.screen.desktop {
	top: 0;
    left: 50%;
    width: 95%;
    transform: rotateY(-30deg) rotateX(5deg) translateX(-50%);
}
.screen.tablet {
	z-index: 1;
    width: 45%;
    top: 15%;
}
.screen.mobile {
	top: 50%;
    width: 20%;
    z-index: 2;
    right: 50%;
}
.screenshots {
	content: '';
	display: table;
	clear: both;
	padding-top: 20%;
	margin-bottom: 5%;
}
.screenshots img {
	float: left;
	display: inline-block;
	margin-bottom:  5%;
	box-shadow: -1px 0px 0 #fff, -1px 1px 30px rgba(0,95,99,0.2);
}
.screenshots--desktop {
	max-width: 100%;
}
.screenshots--tablet {
	max-width: 60%;
}
.screenshots--mobile {
	max-width: 35%;
	margin-left: 5%;
}

.more-projects-link {
	clear: both;
    margin: 5% auto;
    max-width: fit-content;
    border: 1px solid #c0a062;
    padding: 10px 15px;
    font-size: 24px;
    color: #c0a062;
}

/*SLIDE NAV*/
#project-nav-view {
	position: absolute;
    top: 0;
    left: 60px;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: 0.9;
    z-index: 1;
}
.slide-nav-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 350px;
	color: #c0a062;
	background: #181818;
    border: 1px solid #c0a062;
    border-left: none;
}
.project-nav-item {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', 'Open sans';
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #c0a062;
    transition: background .4s ease-in-out;
}
.project-nav-item:hover {
	background: #FFFFFF;
	transition: background .3s ease-in-out;
}








